@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family: 'Roboto Condensed', 'Avenir Next', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #3C3C3C;
}

.remark-slide-content {
  font-size: 1.38em;
  padding: .25em 3.5em .25em 4em;
}

h1, h2, h3 {
  font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 700;
  color: #222;
}

.remark-slide h1 {
  font-size: 48px;
}

.remark-slide h2 {
  font-size: 36px;
}

.remark-slide h3 {
  font-size: 24px;
}
.remark-code, .remark-inline-code { font-family: 'Roboto Mono', 'Courier', Monaco, monospace; }
