
.blue {
   color: #0055D4;
}

.red {
  color: #D72638;
}

.yellow {
  color: #FFC914;
}

.green {
  color:#44AF69;
}

.grey {
  color: #344055;
}

.remark-slide-number {
  font-size: 0.7em;
}

.title-slide .remark-slide-number {
  display: none;
}

.section-blue {
  background-color: #0055D4;
}

.section-red {
  background-color: #D72638;
}

.section-yellow {
  background-color: #FFC914;
}

.section-green {
  background-color: #44AF69;
}

.section-grey {
  background-color: #344055;
}

.section-blue .remark-slide-number, .section-red .remark-slide-number, .section-yellow .remark-slide-number, .section-green .remark-slide-number, .section-grey .remark-slide-number {
  display: none;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #FFF;
}

.title-slide {
  text-align: left;
  background-color: #FFF;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  text-align: left;
  color: #000;
}

.center table { display: inline-block; }

.logo {
  position: absolute;
  bottom: 5px;
  left: 35px;
  height: 40px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../logo.png");
}

.footnote {
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  opacity: 0.5;
}

.remark-slide table {
  margin: auto;
  border-top: 0;
  border-bottom: 1px solid #3C3C3C;
}
.remark-slide table thead th {
  border-bottom: 1px solid #FFF;
  background: #0055D4;
  color: #FFF;
}
th, td {
  padding: 5px;
  font-size: 14px;
}
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #eee;
}
